<div class="container-fluid mt-5">
	<ul class="nav nav-tabs" id="storeTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="true">
	    	Lojas (<%= @stores.size %>)
	    </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="catalogue-tab" data-toggle="tab" href="#catalogue" role="tab" aria-controls="catalogue" aria-selected="false">
	    	Revendedores (<%= @catalogues.size %>)
	    </a>
	  </li>
	</ul>
	<div class="tab-content" id="storeTabContent">
	  <div class="tab-pane fade show active" id="store" role="tabpanel" aria-labelledby="store-tab">
		<div class="table-responsive">
			<table class="table">
			  <thead class="thead bg-primary text-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Loja</th>
			      <th scope="col">Responsável</th>
			      <th scope="col">Produtos ativos</th>
			      <th scope="col">Revendedores</th>
			      <th scope="col">Whatsapp</th>
			      <th scope="col">Ação</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @stores.each_with_index do |store, index| %>
				    <tr>
				      <th scope="row"><%= index + 1%></th>
				      <td><%= link_to store.name, dashboard_store_path(store) %></td>
				      <td><%= store.user.full_name %></td>
				      <td><%= store.products.active.size %></td>
				      <td><%= store.catalogue_stores.size %></td>
				      <td><%= link_to store.whatsapp_beauty, "https://wa.me/#{store.whatsapp_complete}", target: '_blank' %></td>
				      <td>-</td>
				    </tr>
			  	<% end %>
			  </tbody>
			</table>
		</div>
	  	
	  </div>
	  <div class="tab-pane fade" id="catalogue" role="tabpanel" aria-labelledby="catalogue-tab">
		<div class="table-responsive">
			<table class="table">
			  <thead class="thead bg-primary text-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Catálogo</th>
			      <th scope="col">Revendedor</th>
			      <th scope="col">Produtos ativos</th>
			      <th scope="col">Lojas</th>
			      <th scope="col">Whatsapp</th>
			      <th scope="col">Ação</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @catalogues.each_with_index do |catalogue, index| %>
				    <tr>
				      <th scope="row"><%= index + 1%></th>
				      <td><%= link_to catalogue.name, dashboard_catalogue_path(catalogue) %></td>
				      <td><%= catalogue.user.full_name %></td>
				      <td><%= catalogue.product_catalogues.size %></td>
				      <td><%= catalogue.catalogue_stores.size %></td>
				      <td><%= link_to catalogue.whatsapp_beauty, "https://wa.me/#{catalogue.whatsapp_complete}", target: '_blank' %></td>
				      <td>-</td>
				    </tr>
			  	<% end %>
			  </tbody>
			</table>
		</div>
	  </div>
	</div>
</div>
