<div class="container my-3">
    <h2>Criar conta</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
            <div class="col-sm-6">
                <%= f.input :first_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "first-name" }%>
            </div>
            <div class="col-sm-6">
                <%= f.input :last_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "last-name" }%>
            </div>
        </div>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", value: params[:user].try(:[], :email) } %>

        <div class="row">
            <div class="col-sm-6">
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="col-sm-6">
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
            </div>
        </div>
        <% if params[:invite_code].blank? && cookies[:invite_code].blank? %>
            <div class="row">
                <div class="col-sm-12">
                    <%= f.input :admin,
                                required: true,
                                as: :radio_buttons,
                                collection: [['Já possuo produtos', '1'], ['Quero ser revendedor', '0']],
                                label: 'Tipo de conta',
                                input_html: { autocomplete: "new-password" } %>
                </div>
            </div>
        <% end %>
        <%= f.input :invite_code,
                    required: false,
                    as: :hidden,
                    input_html: { value: params[:invite_code] || cookies[:invite_code] } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Criar conta", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
