<% content_for :head do %>
	<title><%= @catalogue.name %></title>
    <meta name="description" content="Compartilhe catálogos de produtos">
    <meta property="og:title" content="<%= @product_catalogue.product.name %>" />
    <meta property="og:url" content="https://www.example.com/webpage/" />
    <meta property="og:description" content="<%= @product_catalogue.product.description %>">
    <meta property="og:image" content="<%= cl_image_path @product_catalogue.product.photo.key, height: 630, width: 1200, crop: :fill %>">
<% end %>

<%= simple_form_for @product_catalogue, url: (@product_catalogue.owner?(current_user) ? notify_supplier_path(@product_catalogue) : order_on_whats_path(@product_catalogue)), method: :post  do |f| %>
	<div class="container my-3">
		<h3 class='text-primary'><%= @product_catalogue.product.name %></h3>

		<div class="row">
		  <div class="col-sm-6">
		    <%= cl_image_tag @product_catalogue.product.photo.key, height: 300, width: 400, crop: :fill %>
		  </div>
		  <div class="col-sm-6">
		    <h5 class='text-primary'><strong>Descrição</strong></h5>
		    <p><%= @product_catalogue.product.description %></p>

		    <h5 class='text-primary'><strong>Variações</strong></h5>
		    <%= f.input :product_variant_id,
	    				collection: @product_catalogue.product.product_variants.map { |variant| ["<strong>#{variant.name}</strong> - #{number_to_currency(@product_catalogue.resell_price(variant), unit: "R$", separator: ",", delimiter: "")}".html_safe, variant.id] },
	    				as: :radio_buttons,
	    				label: '',
	    				checked: params[:variant_id] || @product_catalogue.product.product_variants.first.id,
	    				disabled: @product_catalogue.owner?(current_user) && params[:variant_id].present? %>

		    <%= f.input :quantity,
		    			collection: 1..5,
		    			selected: params[:quantity] || 1, label: 'Quantidade',
		    			disabled: @product_catalogue.owner?(current_user) && params[:quantity].present? %>
		    <% if @product_catalogue.owner?(current_user) %>
				<%= f.input :product_variant_id,
							as: :hidden,
							input_html: { value: params[:variant_id] } %>
				<%= f.input :quantity,
							as: :hidden,
							input_html: { value: params[:quantity] } %>
		    <% end %>
		  </div>
		</div>
		<div class="form-actions d-flex justify-content-between my-4">
		 	<% if @product_catalogue.owner?(current_user) %>
		 		<%= link_to 'Meu catálogo', :users, class: 'btn btn-outline-primary' %>
      			<%= f.button :submit, "Avisar fornecedor", class: 'btn btn-primary', formtarget: "_blank", data: { disable_with: "Abrindo whats..." } %>
			<% else %>
		 		<%= link_to 'Voltar', @catalogue, class: 'btn btn-outline-primary' %>
      			<%= f.button :submit, "Pedir no whats", class: 'btn btn-primary', formtarget: "_blank", data: { disable_with: "Abrindo whats..." } %>
      		<% end %>
		</div>
	</div>
<% end %>
