<div class="col-sm-3">
	<div class="row justify-content-center">
		<div class="card m-1" style="width: 18rem;">
			<% if product.photo.attached? %>
				<%= cl_image_tag product.photo.key, class: 'card-img-top', alt: 'Falha na imagem', style: 'height: 18rem;', crop: :pad %>
			<% end %>

			 <div class="card-body">
			    <h4 class="card-title text-primary">
			    	<%= product.name %>
			    </h4>
			    <div class="card-text">
			    	<p class='text-truncate'>
			    		<%= product.description %>
			    	</p>
					<div>
						<strong class='text-primary'>Variações: (<%= product.product_variants.size %>)</strong>
					</div>
					<p class='text-truncate'>
						<% product.product_variants.each do |product_variant| %>
							<strong><%= product_variant.name %> -</strong> <%= number_to_currency(product_variant.price, unit: "R$", separator: ",", delimiter: "") %>; 
						<% end %>
					</p>
			    </div>
			    <div class="row justify-content-around">
			    	<% if @store.is_subscribed(current_user) %>
			    		<div class="col-sm-12">
							<p class='text-warning'>Você já é revendedor</p>
			    		</div>
					<% else %>
		    			<%= link_to 'Revender', store_terms_path(@store), class: 'btn btn-outline-secondary' %>
					<% end %>
					<%= link_to 'Detalhes', store_product_path(product.store, product), class: 'btn btn-secondary' %>
			    </div>
			 </div>
		</div>
	</div>
</div>