<div class="container my-3">
	<h3 class='text-primary'>Fornecedores para revenda</h3>

	<div>
		<div class="row justify-content-center">
			<% @stores.each do |store| %>
				<div class="col-sm-3">
					<div class="row justify-content-center">
						<div class="card" style="width: 18rem;">
							<div class="card-img-top">
								<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
								  <div class="carousel-inner">
								  	<div class="carousel-item active">
										<%= cl_image_tag store.products.first.photo.key, class: 'd-block', alt: 'Falha na imagem', style: 'height: 18rem;' %>

								    </div>
								  	<% store.products.last(5).select { |item| item != store.products.first}.each do |product| %>
									    <div class="carousel-item">
    										<%= cl_image_tag product.photo.key, class: 'd-block', alt: 'Falha na imagem', style: 'height: 18rem;' %> 

									    </div>
								  	<% end %>
								  </div>

								  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								    <span class="carousel-control-next-icon" aria-hidden="true"></span>
								    <span class="sr-only">Next</span>
								  </a>
								</div>
							</div>

						  <div class="card-body">
						    <h5 class="card-title text-primary"><%= store.name %></h5>
						    <div class="card-text">
						    	<p>
						    		<%= store.description %>
						    	</p>
						    	<p><strong class="text-primary">Produtos: </strong> <%= store.products.active.size %></p>
						    </div>
						    <div class="d-flex justify-content-center">
								<%= link_to 'Ver catálogo', store_path(store), class: 'btn btn-primary' %>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>