<div>
	<h1><%= @store.name %></h1>
	<%= link_to 'Editar loja', edit_store_path(@store) %>
</div>

<div>
	<h1>Produtos</h1>

	<% @products.each do |product| %>
		<div>
			<%=  link_to store_product_path(@store, product) do %>
				<%= product.name %>
			<% end %>
		</div>
	<% end %>

	<%= link_to 'Criar produto', new_store_product_path(@store) %>
</div>