<div class='jumbotron jumbotron-fluid"'>
	<h3><%= @store.name %></h3>
	<p><strong>Whatsapp para contato:</strong> <%= @store.whatsapp_beauty %></p>
	<p><strong>Link da loja:</strong> <%= link_to store_products_url(@store), store_products_url(@store) %></p>

	<div class='row'>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to 'Configurações', edit_admin_store_path(@store), class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to "Meus revendedores (#{@store.catalogue_stores.size})", admin_store_resellers_path(@store), class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to 'Criar produto', new_admin_store_product_path(@store), class: 'btn btn-primary flex-grow-1' %>
		</div>
	</div>
</div>
<div class="container">
	<div>
		<div class='d-flex justify-content-between align-items-center'>
			<h4 class='text-primary'>Seus produtos (<%= @products.size %>)</h4>
		</div>
		<div class='row'>
			<% @products.each do |product| %>
				<div class="col-sm-3">
					<div class="row justify-content-center">
						<div class="card m-1" style="width: 18rem;">
							<% if product.photo.attached? %>
								<%= cl_image_tag product.photo.key, class: 'card-img-top', alt: 'Falha na imagem', style: 'height: 18rem;', crop: :pad %>
							<% end %>

							 <div class="card-body">
			 				 	<div>
						    		<% if product.is_active? %>
						    			<span class="badge badge-success">Vendendo</span>
						    		<% else %>
						    			<span class="badge badge-danger">Inativo</span>
						    		<% end %>
							 	</div>
							    <h4 class="card-title text-primary">
							    	<%= product.name %>
							    </h4>
							    <div class="card-text">
							    	<p class='text-truncate'>
							    		<%= product.description %>
							    	</p>
									<div>
										<strong class='text-primary'>Variações: (<%= product.product_variants.size %>)</strong>
									</div>
									<p class='text-truncate'>
										<% product.product_variants.each do |product_variant| %>
											<strong><%= product_variant.name %> -</strong> <%= number_to_currency(product.cheapest_product_variant.price, unit: "R$", separator: ",", delimiter: "") %>; 
										<% end %>
									</p>
							    </div>
							    <div class="d-flex justify-content-around">
									<%= link_to 'Editar', edit_admin_store_product_path(@store, product), class: 'btn btn-secondary' %>
							    </div>
							 </div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
