<div class="col-sm-3">
	<div class="row justify-content-center">
		<div class="card m-1" style="width: 18rem;">
			<% if product_catalogue.product.photo.attached? %>
				<%= cl_image_tag product_catalogue.product.photo.key, class: 'card-img-top', alt: 'Falha na imagem', style: 'height: 18rem;' %>
			<% end %>

			 <div class="card-body">
			 	<div>
		    		<% if product_catalogue.margin.positive? %>
		    			<span class="badge badge-success">Vendendo</span>
		    		<% else %>
		    			<span class="badge badge-danger">Lucro zero</span>
		    		<% end %>
		    		<% if Date.today - 5.days < product_catalogue.product.created_at %>
		    			<span class="badge badge-warning">Produto novo</span>
		    		<% end %>
			 	</div>
			    <h4 class="card-title text-primary">
			    	<p>
			    		<%= product_catalogue.product.name %> 
			    	</p>
			    	<p>
			    	</p>
			    </h4>
			    <div class="card-text">
			    	<p class='text-truncate'>
			    		<%= product_catalogue.product.description %>
			    	</p>
			    	<div>
			    		<strong class='text-primary'>Fornecedor:</strong>
			    	</div>
			    	<p>
			    		<%= product_catalogue.product.store.name %>. <%= link_to 'Ver loja', product_catalogue.product.store %>
			    	</p>
					<div>
						<strong class='text-primary'>Variações: (<%= product_catalogue.product.product_variants.size %>)</strong>
					</div>
					<p class='line-clamp-3'>
						<% product_catalogue.product.product_variants.each do |product_variant| %>
							<strong><%= product_variant.name %> -</strong> <%= number_to_currency(product_catalogue.resell_price(product_variant), unit: "R$", separator: ",", delimiter: "") %> |
						<% end %>
					</p>
					<p>
						<strong class='text-primary'>Lucro por revenda</strong> <%= number_to_currency(product_catalogue.margin, unit: "R$", separator: ",", delimiter: "") %>
					</p>
			    </div>
			    <div class="d-flex justify-content-around">
			    	<% if product_catalogue.margin.positive? %>
						<%= link_to 'Editar', edit_catalogue_product_catalogue_path(@catalogue, product_catalogue), class: 'btn btn-secondary'%>
				    	<%= link_to'Compartilhar', "https://wa.me/?text=#{catalogue_product_catalogue_url(@catalogue, product_catalogue)}", class: 'btn btn-primary', target: '_blank' %>
		    		<% else %>
						<%= link_to 'Adicione sua margem de lucro', edit_catalogue_product_catalogue_path(@catalogue, product_catalogue), class: 'btn btn-danger'%>
		    		<% end %>
			    </div>
			 </div>
		</div>
	</div>
</div>
