<div class="container">
	<div class='my-3'>
		<div>
			<p><strong>Nome da loja:</strong> <%= @catalogue.name %></p>
		</div>
		<div class='row'>
			<div class="col-sm-6 d-flex mt-3">
				<%= link_to 'Buscar produtos para revenda', :stores, class: 'btn btn-outline-primary flex-grow-1' %>
			</div>
			<div class="col-sm-6 d-flex mt-3">
				<%= link_to 'Compartillhar link da loja', "https://wa.me/?text=#{catalogue_url(@catalogue)}", class: 'btn btn-primary flex-grow-1', target: '_blank' %>
			</div>
		</div>
	</div>

	<% if @product_catalogues.present? %>
		<div class="row">
			<%= render partial: "product_catalogue", collection: @product_catalogues %>
		</div>
	<% else %>
		<div class='mt-5'>
			<h5>Você ainda não possui nenhum produto. <%= link_to 'Clique aqui', stores_path %> para buscar novos produtos</h5>
		</div>
	<% end %>
</div>
