<div class='jumbotron jumbotron-fluid"'>
	<div>
		<p><strong>Nome do catálogo:</strong> <%= @catalogue.name %></p>
		<p><strong>Whatsapp para contato:</strong> <%= @catalogue.whatsapp_beauty %></p>
		<p><strong>Link do catálogo:</strong> <%= link_to catalogue_url(@catalogue), catalogue_url(@catalogue) %></p>
	</div>
	<div class='row'>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to 'Configurações', edit_catalogue_path(@catalogue), class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to "Meus fornecedores (#{@catalogue.catalogue_stores.size})", catalogue_suppliers_path(@catalogue), class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
		<div class="col-sm-4 d-flex mt-3">
			<%= link_to 'Buscar produtos para revenda', :stores, class: 'btn btn-outline-primary flex-grow-1' %>
		</div>
		<div class="col-sm-12 d-flex mt-3">
			<%= link_to 'Compartilhar catálogo <i class="fab fa-whatsapp"></i>'.html_safe, "https://wa.me/?text=#{catalogue_url(@catalogue)}", class: 'btn btn-secondary flex-grow-1', target: '_blank' %>
		</div>
	</div>
</div>
<div class="container">
	<div class='d-flex justify-content-between align-items-center'>
		<h4 class='text-primary'>Seus produtos (<%= @product_catalogues.size %>)</h4>
	</div>
	<% if @product_catalogues.present? %>
		<div class="row">
			<%= render partial: "product_catalogue", collection: @product_catalogues %>
		</div>
	<% else %>
		<div class='mt-5'>
			<h5>Você ainda não possui nenhum produto. <%= link_to 'Clique aqui', stores_path %> para buscar novos produtos</h5>
		</div>
	<% end %>
</div>
