<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to 'Revendy', users_path, class: "navbar-brand text-primary" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Minha loja", users_path, class: "nav-link" %>
        </li>
        
        <% if current_user.admin && current_user.store.try(:valid?) %>
          <li class="nav-item active">
            <%= link_to "Configurações", edit_admin_store_path(current_user.store), class: "nav-link" %>
          </li>
        <% elsif current_user.catalogue.try(:valid?) %>
          <li class="nav-item active">
            <%= link_to "Configurações", edit_catalogue_path(current_user.catalogue), class: "nav-link" %>
          </li>
        <% end %>
        
        <li class="nav-item">
          <%= link_to 'Suporte', "https://wa.me/5541995794954?text=Olá Marcelo, estou com uma dúvida sobre a Revendy", target: '_blank', class: "nav-link" %><br />
        </li>

        <li class="nav-item">
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
        </li>
      <% else %>

        <% if current_page?(root_path) %>
          <li class="nav-item">
            <%= link_to 'Sou Lojista', landing_store_path, class: "nav-link" %><br />
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Quero Revender', root_path, class: "nav-link" %><br />
          </li>
        <% end %>
      
        <li class="nav-item">
          <%= link_to 'Contato', "https://wa.me/5541995794954?text=Olá Marcelo, estou com uma dúvida sobre a Revendy", target: '_blank', class: "nav-link" %><br />
        </li>
        <li class="nav-item mr-3">
          <a href="#como-funciona" class="nav-link">
            Como Funciona?
          </a>
        </li>
        <li class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-outline-primary r-5", style: 'width: 100px; border-radius: 50px;' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
