<%= f.input :name,
            required: true,
            autofocus: true,
            placeholder: 'Nome da sua loja. Ex: Roupas Curitiba' %>
<div class="row">
      <div class="col-3">
            <%= f.input :whatsapp_ddd,
                        required: true,
                        autofocus: true,
                        placeholder: '41',
                        input_html: { maxlength: 2 },
                        as: :integer %>
      </div>
      <div class="col-9">
            <%= f.input :whatsapp_number,
                        required: true,
                        autofocus: true,
                        placeholder: '999999999',
                        as: :integer %>
      </div>
</div>
<%= f.input :description,
            required: true,
            autofocus: true,
            as: :text,
            placeholder: 'Descreva a sua loja. Ex: Vendemos roupas femininas' %>
<%= f.input :terms,
            required: true,
            as: :text,
            placeholder: 'Escreva aqui os termos e condições para revenda do produto. Ex: Só faço entregas a partir de R$200,00' %>

